html {
    height: 100%;
}

body.init-loading {
    margin: 0;
    color: #444 !important;
    /*background-color: #141414;*/
    font: 300 18px/18px Roboto, sans-serif;
    text-align: initial !important;
}

.start_page {
    overflow: hidden;
    height: 260;
}

.height100per {
    height: 100%;
}

.overflow-auto {
    overflow-y: auto;
}

.toastNewMail {
    position: fixed;
    bottom: 0;
    width: 35%;
    right: 10px;
}

.footerItems {
    position: fixed;
    bottom: 0;
    width: 35%;
    right: 10px;
}

.markdown-box {
    position: absolute;
    z-index: 1002;
    height: 70%;
    bottom: 0;
}

#editor {
    width: 75%;
}

.mailitem {
    cursor: pointer;
}


/* loading */


/* //loading */